
.div {
    min-width: 20vh;
    max-width: 20vh;
    background-color: aqua;
    padding: 1%;
    border-radius: 5%;
}

.link {
    text-decoration: none;
}
/* .divImg {
    max-width: 100%;
} */

.img {
    max-width: 100%;
    object-fit: cover;
}

.p1 {
    object-fit: cover;
    color: black;
}