
.div {
    min-width: 20px;
    max-width: 20px;
    background-color: aqua;
    padding: 1%;
    border-radius: 5%;
}

/* .divImg {
    max-width: 100%;
} */

.img {
    max-width: 100%;
    object-fit: cover;
}

.p1 {
    object-fit: cover;
}