
.div {
    min-width: 12vw;
    max-width: 12vw;
    height: 200px;

    background: rgba(52, 65, 116, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(52, 65, 116, 0.64);
    margin: 4px;
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    text-decoration: none;
}
.div:hover {
 
box-shadow: 0 2px 15px white;

}


.img {  
    box-sizing: border-box;
    padding: 6px;
    width: 95%;
    
    aspect-ratio: 3/2;
    
}

.p1 {
    object-fit: cover;
    color: white    ;
    text-align: center;
    font-family: Times new Roman;
}
