.div {
    margin: 0;
    background-image: url('../imgs/38858-tierra.jpg');
    background-size: cover;
    display: flex;
    height: 130vh;
    color: white;

}

.Card{
    background: rgba(52, 65, 116, 0.44);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(52, 65, 116, 0.64);
    width: 30vw;
    height: 40vh;
    
}

.prueba {
    padding: 5%;
}

.activities {
    padding: 5%;  
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.miniCard{
    background: rgba(52, 65, 116, 0.44);
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(52, 65, 116, 0.64);
    height: 180px;
    width: 200px;
    margin: 4%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
}

.imgContainer {
    
     box-sizing: border-box;
     padding: 6px;
     width: 100%;
        
    aspect-ratio: 3/2;
        
    
    
}

.textName {
    font-family: Times New Roman;
    font-weight: 500;
    font-size: x-large;
}

.textTitle{
    font-family: Times New Roman;
    font-weight: 500;
    font-size: 20px;
    color: #F8D72A;
}

.textGeneric {
    font-family: Times New Roman;
    margin-top: 0%;
}

.text{
    font-family: Times new Roman;
}

.h1 {
    font-family: Times new Roman;
    margin-bottom: 0%;
}

.divvv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin-top: 30px;
    background: rgba(40, 67, 120, 0.68);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.7px);
-webkit-backdrop-filter: blur(9.7px);
border: 1px solid rgba(40, 67, 120, 0.64);
color: white;
min-height: 30px;
}

.button:hover{
    box-shadow: 0 1px 10px white;
}