.div {
    margin: 0;
    padding: 0;
    background-image: url(../imgs/Slidebooks\ Consulting\ _\ Business\ &\ Consulting\ Toolkits.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
}