.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
}